---
title: Reflexive Verbs
---

<h1>Reflexive Verbs</h1>
<p>Verbs where the pronoun refers back to the subject of the sentence.</p>

<ul>
  <li>Ich ziehe <%= hi('mich') %> an.</li>
  <li>Ich rasiere <%= hi('mich') %>.</li>
  <li>Ich entspanne <%= hi('mich') %>.</li>
</ul>
