---
title: Reflexive Verbs
---

<h1>Reflexive Verbs</h1>
<p>Verbs where the pronoun refers back to the subject of the sentence.</p>

<ul>
  <li>Ich <%= hi('ziehe mich') %> an.</li>
  <li>Ich <%= hi('rasiere mich') %>.</li>
  <li>Du interessierst dich ...</li>
  <li>Du freust dich ...</li>
  <li>Er/sie/es habt sich im Urlaub erkältet.</li>
  <li>Er macht sich einen Teller Käsespätzle.</li>
  <li>Wir <%= hi('freuen uns') %> auf das nächste Weihnachtsfest.</li>
  <li>Wir <%= hi('sehen uns') %> später.</li>
  <li>Ihr ...</li>
  <li>Ihr ...</li>
  <li>Sie ...</li>
  <li>Sie ...</li>
</ul>

<h2>Examples</h2>
<ul>
  <li>sich interessieren für</li>
</ul>
