---
title: Strong verbs
---

<p>Also known as <i>irregular verbs</i>, they have vowel changes in the stem.</p>

<ul>
  <li>gehen, ging, gegangen</li>
  <li>stehen, stand, gestanden</li>
  <li>sehen, sah, gesehen</li>
</ul>
