---
title: Imperfect Tense
---

<h1>Imperfect Tense <span class="de">Imperfekt / Präteritum</span></h1>

<p>Also known as "simple past", or "preterite". Often used for descriptions
of the past, and in written forms.</p>

<h2>Beispeile</h2>

<ul>
  <li>Ich <%= hi 'sagte' %> das.</li>
  <li>Wir <%= hi 'machten' %> die Tür zu.</li>
  <li>Du <%= hi 'kauftest' %> zu viel.</li>
  <li>Es <%= hi 'regnete' %> stark.</li>
</ul>
