---
title: Perfect Tense
---

<h1>Perfect Tense <span class="de">Perfekt Zeitform</span></h1>

<p>Constructed from <span class="component">Hilfsverb</span> and
<span class="component">Partizip &#8545;</span>. Talks about the past,
and usually refers to a single event that took place.</p>

<h2>Beispeile</h2>

<ul>
  <li>Ich <%= hi 'habe' %> einen Apfel <%= hi 'gegessen' %>.</li>
  <li>Wir <%= hi 'haben' %> das Fußballspiel zusammen <%= hi 'gesehen' %>.</li>
</ul>
