#!/usr/bin/env ruby

compile '/**/*.erb' do
  layout '/default.*'
  filter :erb
  filter :relativize_paths, type: :html
  #write @item.identifier.without_ext + '/index.html'
  if item.identifier =~ '/index.*'
    write '/index.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
