body {
  margin: 20px;
  font-family: 'Helvetica Neue';
  line-height: 1.3;
  font-size: 14px;
  background: #eee;
}

h2 {
  font-weight: 500;
}

table {
  border-collapse: collapse;
}

table tr th {
  background: #eee;
  font-weight: 500;
}

table tr td {
  min-width: 50px;
  text-align: center;
  color: #444;
}

table tr th, table tr td {
  padding: 5px 8px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.case-n {
  background: rgba(255, 0, 0, 0.1);
}

.case-a {
  background: rgba(0, 255, 0, 0.1);
}

.case-d {
  background: rgba(0, 0, 255, 0.1);
}

abbr {
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}
