---
title: Home
---

<h1>Contents</h1>

<h2>Nouns / Articles</h2>
<ul>
  <li><a href="/articles/definite">Definite Articles</a></li>
  <li><a href="/articles/indefinite">Indefinite Articles</a></li>
</ul>

<h2>Verbs</h2>
<ul>
  <li><a href="/verbs/modal">Modal Verbs</a></li>
  <li><a href="/verbs/reflexive">Reflexive Verbs</a></li>
  <li>Verbs with Prepositions</li>
</ul>

<h2>Cases</h2>
<ul>
  <li>Nominative</li>
  <li>Accusative</li>
  <li>Dative</li>
</ul>

<h2>Tenses</h2>
<ul>
  <li>Present Tense</li>
  <li>Past Tense</li>
</ul>

<h2>Adjectives</h2>
<ul>
  <li>Adjective Declension</li>
</ul>

<h2>Other</h2>
<ul>
  <li><a href="/pronouns">Pronouns</a></li>
</ul>
