---
title: Deutsch Notizen
---

<h2>Cases</h2>
<ul>
  <li><a href="/cases/nominative">Nominative case</a></li>
  <li><a href="/cases/accusative">Accusative case</a></li>
  <li><a href="/cases/dative">Dative case</a></li>
</ul>

<h2>Articles</h2>
<ul>
  <li><a href="/articles/definite">Definite articles</a></li>
  <li><a href="/articles/indefinite">Indefinite articles</a></li>
</ul>

<h2>Adjectives</h2>
<ul>
  <li><a href="/adjectives/declension">Declension</a></li>
</ul>

<h2>Pronouns</h2>
<ul>
  <li><a href="/pronouns">Pronouns</a></li>
</ul>

<h2>Verbs</h2>
<ul>
  <li><a href="/verbs/weak">Weak verbs</a></li>
  <li><a href="/verbs/strong">Strong verbs</a></li>
  <li><a href="/verbs/strong">Mixed verbs</a></li>
  <li><a href="/verbs/reflexive">Reflexive verbs</a></li>
  <li><a href="/verbs/modal">Modal verbs</a></li>
  <li><a href="/verbs/with-prepositions">Verbs with prepositions</a></li>
</ul>

<h2>Tenses</h2>
<ul>
  <li><a href="/verbs/tenses/present">Present tense</a><span class="de"> &middot; Präsens</span></li>
  <li><a href="/verbs/tenses/perfect">Perfect tense</a><span class="de"> &middot; Perfekt</span></li>
  <li><a href="/verbs/tenses/imperfect">Imperfect tense</a><span class="de"> &middot; Imperfekt / Präteritum</span></li>
  <li><a href="/verbs/tenses/pluperfect">Pluperfect tense</a><span class="de"> &middot; Plusquamperfect</span></li>
</ul>
