---
title: Deutsch Notizen
---

<h2>Nouns</h2>
<ul>
  <li><a href="/articles/definite">Definite articles</a></li>
  <li><a href="/articles/indefinite">Indefinite articles</a></li>
  <li>Nominative case</li>
  <li>Accusative case</li>
  <li>Dative case</li>
</ul>

<h2>Adjectives</h2>
<ul>
  <li><a href="/adjectives/declension">Declension</a></li>
</ul>

<h2>Pronouns</h2>
<ul>
  <li><a href="/pronouns">Pronouns</a></li>
</ul>

<h2>Verbs</h2>
<ul>
  <li><a href="/verbs/tenses/present">Present tense</a><span class="de"> &middot; Präsens</span></li>
  <li><a href="/verbs/reflexive">Reflexive verbs</a></li>
  <li><a href="/verbs/tenses/perfect">Perfect tense</a><span class="de"> &middot; Perfekt</span></li>
  <li><a href="/verbs/tenses/imperfect">Imperfect tense</a><span class="de"> &middot; Imperfekt / Präteritum</span></li>
  <li><a href="/verbs/tenses/pluperfect">Pluperfect tense</a><span class="de"> &middot; Plusquamperfect</span></li>
  <li><a href="/verbs/modal">Modal verbs</a></li>
  <li><a href="/verbs/with-prepositions">Verbs with prepositions</a></li>
</ul>
