body {
  margin: 0px auto;
  font-family: -apple-system , '.SFNSText-Regular' , 'Helvetica Neue' , 'Roboto' , 'Segoe UI' , sans-serif;
  line-height: 1.2;
  font-size: 15px;
  background: #fff;
  max-width: 800px;
}

header {
  border-bottom: 1px solid #eee;
  padding: 15px 20px;
}

header #home {
  font-size: 12px;
}

header h1 {
  margin: 0;
  margin-top: 5px;
  font-weight: 300;
}

header h2 {
  margin: 0;
  font-weight: 300;
  color: #999;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

a {
  color: #2384D9;
}

p, li {
  line-height: 1.5;
}

hr {
  background: #ddd;
  height: 1px;
  border: 0;
  margin: 2em 0 1.8em 0;
}

a:hover {
  text-decoration: none;
}

#main {
  padding: 10px 20px 20px 20px;
}

#main table {
  width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    padding: 5px;
}

.de {
  color: #aaa;
}

h1 .de {
  font-weight: 300;
}

h2, h3 {
  font-weight: 500;
}

table {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
}

table tr td {
  min-width: 65px;
  text-align: center;
}

table tr th, table tr td {
  padding: 5px 8px;
  border-bottom: 1px solid #eee;
}

table thead tr th {
  border-top: none;
  border-bottom: 1px solid #ccc;
}

li {
  margin-bottom: 1px;
}

.case, .highlight {
  padding: 0px 3px 0 2px;
}

table .highlight {
  padding: 0;
}

.highlight {
  background: rgba(245, 215, 20, 0.25);
}

.case-n {
  background: rgba(217, 48, 21, 0.17);
}

.case-a {
  background: rgba(111, 217, 4, 0.20);
}

.case-d {
  background: rgba(13, 101, 217, 0.17);
}

.quiet {
  font-size: 80%;
  font-weight: 400;
  color: #666;
}

.component {
  background: #eee;
  padding: 0px 4px 0px 3px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.row-title {
  color: #999;
  text-transform: uppercase;
  font-size: 80%;
  padding: 0.8em 0;
  letter-spacing: 0.15em;
}

p.subheading {
  margin-top: -1em;
}

abbr {
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}
