---
title: Adjective Declension
---

<h2>Weak Declension</h2>

<table>
  <tr>
    <th></th>
    <th>Nom.</th>
    <th>Akk.</th>
    <th>Dat.</th>
  </tr>
  <tr>
    <th>Mask.</th>
    <td>-e</td>
    <td>-en</td>
    <td>-en</td>
  </tr>
  <tr>
    <th>Fem.</th>
    <td>-e</td>
    <td>-e</td>
    <td>-en</td>
  </tr>
  <tr>
    <th>Neu.</th>
    <td>-e</td>
    <td>-e</td>
    <td>-en</td>
  </tr>
  <tr>
    <th>Pl.</th>
    <td>-en</td>
    <td>-en</td>
    <td>-en</td>
  </tr>
</table>
