<table class="w-100 f5 mb4" cellspacing="0">
  <thead>
    <tr>
      <% headers.each do |h| %>
      <th class="fw6 bb b--black-20 tl pb3 pr3 bg-white"><%= h %></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="lh-copy">
    <% rows.each do |row| %>
    <tr>
      <% heading, *values = row %>
      <td class="pv2 pr3 bb b--black-10 b"><%= heading %></td>
      <% values.each do |value| %>
      <td class="pv2 pr3 bb b--black-10"><%= value %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
