<table class="w-100 f5 mb4" cellspacing="0">
  <thead>
    <tr class="ttu f6 fw6 black-30 tracked">
      <% headers.each do |h| %>
      <th class="bb b--black-20 tl pb2 pr3"><%= h %></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="lh-copy">
    <% rows.each do |row| %>
    <tr>
      <% heading, *values = row %>
      <% unless heading.empty? %>
      <td class="pv2 pr3 bb b--black-10 b"><%= heading %></td>
      <% end %>
      <% values.each do |value| %>
      <td class="pv2 pr3 bb b--black-10"><%= value %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
