---
title: Accusative case
---

<p>Marks the direct object of a transitive verb. The direct object is the thing being 'acted on' by the subject. A transitive verb is one that requires one or more objects.</p>

<h2>Examples</h2>
<ul>
  <li>Der Mann kauft <%= indefinite_article(das('Auto'), :a) %>.</li>
  <li>Das Kind isst <%= definite_article(der('Apfel'), :a) %>.</li>
</ul>
