---
title: Accusative
section: Cases
---

<p>Marks the direct object of a transitive verb. The direct object is the thing being 'acted on' by the subject. A transitive verb is one that requires one or more objects.</p>

<table>
  <thead>
    <tr>
      <th>Masc.</th>
      <th>Fem.</th>
      <th>Neu.</th>
      <th>Pl.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>den / einen</td>
      <td>die / eine</td>
      <td>das / ein</td>
      <td>die</td>
    </tr>
  </tbody>
</table>

<h2>Examples</h2>
<ul>
  <li>Der Mann kauft <%= indefinite_article(das('Auto'), :a) %>.</li>
  <li>Das Kind isst <%= definite_article(der('Apfel'), :a) %>.</li>
  <li>Wir alle besuchen <%= definite_article(das('Museum'), :a) %>.</li>
</ul>
