---
title: Accusative
section: Cases
---

<p>Marks the direct object of a transitive verb. The direct object is the thing being 'acted on' by the subject. A transitive verb is one that requires one or more objects.</p>

<%= render '/table.*', {
  headers: [
    "Masc.", "Fem.", "Neu.", "Pl."
  ],
  rows: [
    ["", "den/einen", "die/eine", "das/ein", "die"]
  ],
} %>

<h2>Examples</h2>
<ul>
  <li>Der Mann kauft <%= indefinite_article(das('Auto'), :a) %>.</li>
  <li>Das Kind isst <%= definite_article(der('Apfel'), :a) %>.</li>
  <li>Wir alle besuchen <%= definite_article(das('Museum'), :a) %>.</li>
</ul>
