---
title: Dative
section: Cases
---

<p>The dative case shows the indirect object of a verb. It also comes after certain verbs or prepositions.</p>

<%= render '/table.*', {
  headers: [
    "Masc.", "Fem.", "Neu.", "Pl."
  ],
  rows: [
    ["", "dem/einem", "der/einer", "dem/einem", "den"]
  ],
} %>

<h2>Examples</h2>
<ul>
  <li>Ich werde <%= definite_article(das('Mädchen'), :d) %> eine Nachricht schicken.</li>
</ul>
